/* ----- mobile ----- */

/* 1200px - 1365px */
@media (max-width: 1365px) {
    .container {
        max-width: 1140px;
    }

    .hero__title {
        font-size: 50px;
    }

    .hero__info {
        max-width: 550px;
    }

    .hero__picture {
        margin-left: 20px;
    }

    .hero__play {
        transform: translate(-60%, 43%);
    }

    .hero__arrow {
        padding-left: 50px;
    }

    .products__card-item {
        width: 364px;
    }

    .products__card-img {
        width: 304px;
        height: 304px;
    }

}

/* 992px - 1199px */
@media (max-width: 1199px) {
    .container {
        width: 930px;
    }

    .hero {
        padding-bottom: 90px;
    }

    .hero__title {
        font-size: 40px;
    }

    .hero__info {
        max-width: 445px;
    }

    .hero__play {
        transform: translate(-75%, 43%);
    }

    .products__card-item {
        width: 300px;
    }

    .products__card-img {
        width: 240px;
        height: 273px;
    }

    .products__card-title {
        font-size: 19px;
    }

    .hero__video {
        right: 20%;
    }

    .products__title {
        font-size: 36px;
    }

    .offer {
        padding: 90px 0;
    }

    .offer__title {
        font-size: 36px;
    }

    .offer__image {
        width: 300px;
        height: 314px;
    }

    .offer__image {
        display: none;
    }
}

/* 701px - 991px */
@media (max-width: 991px) {
    .container {
        width: 700px;
    }

    .products__card-item {
        width: 338px;
    }

    .products__card-img {
        width: 278px;
        height: 278px;
    }

    .hero__video {
        right: 7%;
        top: 25%;
    }

    .hero__picture {
        flex-shrink: 0.5;
    }

    .hero__title {
        font-size: 34px;
    }

    .hero__video {
        right: 17%;
        top: 40%;
    }

    .hero__info {
        max-width: 100%;
    }

    .products__card-title {
        font-size: 22px;
    }
}

/* 575px - 767px */
/* @media (max-width: 767px) {} */

/* 360px - 700px */
@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .nav {
        justify-content: space-between;
    }

    .nav__list {
        display: none;
    }

    .nav__menu-title span {
        display: none;
    }

    .logo {
        margin-right: 0;
    }

    .nav__menu {
        order: -1;
        margin-right: 0;
    }

    .nav__cart {
        padding-left: 18px;
    }

    .hero {
        padding-top: 60px;
    }

    .hero__wrapper {
        flex-direction: column;
    }

    .hero__title {
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 35px;
    }

    .hero__description {
        margin-bottom: 40px;
    }

    .button {
        width: 100%;
    }

    .hero__picture {
        padding-top: 60px;
        position: relative;
        margin-left: 0;
    }

    .hero__video {
        left: 35%;
        top: 47%;
    }

    .hero__arrow {
        padding-left: 40px;
    }

    .hero__play {
        transform: translate(-75%, 43%);
    }

    .products__title {
        font-size: 35px;
    }

    .products__button {
        display: none;
    }

    .products {
        position: relative;
    }

    .products__cards {
        flex-direction: column;
        margin-bottom: 0;
    }

    .products__card-item {
        width: 330px;
    }

    .products__card-img {
        width: 270px;
        height: 315px;
    }

    .owl-carousel .owl-stage {
        margin-bottom: 40px;
    }

    .button.smoll-button {
        width: 70px;
    }

    .products__button--mobile {
        display: flex;
        position: relative;
        z-index: 999;
    }

    .products__button-left--mobile {
        margin-right: 0;
        position: absolute;
        top: 0;
        left: 40px;
        transform: translateY(-95%);
    }

    .products__button-right--mobile {
        position: absolute;
        top: 0;
        right: 40px;
        transform: translateY(-95%);
    }

    .offer__row {
        flex-direction: column;
    }

    .offer__title {
        font-size: 35px;
    }

    .offer__description p {
        margin-bottom: 40px;
    }

    .offer__form {
        max-width: unset;
        width: 100%;
    }

    .footer {
        padding: 40px 0 42px;
    }
}

/* 1px - 374px */